{{ define "main" }}
<h1 style="text-align: center; padding: 0 2rem 0 2rem;">{{ .Title }}</h1>
  <section class="bento-grid bento-description">
    <div class="bento-item">
      <img src="https://placehold.co/200x200?text=Featured" alt="hello">
        <div>
          <h3>test</h3>
          <p>test2fef13</p>
        </div>
    </div>
    <div class="bento-item">
      <img src="https://placehold.co/200x200?text=Featured" alt="hello">
        <div>
          <h3>test</h3>
          <p>test213</p>
        </div>
    </div>
    <div class="bento-item">
      <img src="https://placehold.co/200x200?text=Featured" alt="hello">
        <div>
          <h3>test</h3>
          <p>test213</p>
        </div>
    </div>
    <div class="bento-item">
      <img src="https://placehold.co/200x200?text=Featured" alt="hello">
        <div>
          <h3>test</h3>
          <p>test213</p>
        </div>
    </div>
  </section>
{{ end }}