{{ define "main" }}

<main>

  <h1 style="text-align:center; padding:0 2rem;">{{ .Title }}</h1>
  {{ with .Content }}
    <div>{{ . }}</div>
  {{ end }}

  <hr>

  {{ if .Sections }}

    <section class="grid">
      {{ range sort .Sections "Weight" "Title" }}
        {{ partial "article-card.html" . }}
      {{ end }}
    </section>

  {{ else if .RegularPages }}

    {{ $p := .Paginate (sort .RegularPages "Params.date_added" "Title") 16 }}

    <section class="grid">
      {{ range $p.Pages }}
        {{ if eq .Section "products" }}
          {{ partial "product-card.html" . }}
        {{ else }}
          {{ partial "article-card.html" . }}
        {{ end }}

      {{ end }}
    </section>

    <nav class="site-nav" style="justify-content: center;">
      {{ with $p.Prev }}<a href="{{ .URL }}">Prev</a>{{ end }}
      <span>{{ $p.PageNumber }} / {{ $p.TotalPages }}</span>
      {{ with $p.Next }}<a href="{{ .URL }}">Next</a>{{ end }}
    </nav>

  {{ else }}

    <p>No content found. on default list</p>

  {{ end }}

</main>

{{ end }}