/* =========================
   FONTS
========================= */

@font-face {
  font-family: 'Gallery Modern';
  src: url("../fonts/Gallery-Modern.ttf") format("truetype");
}

@font-face {
  font-family: 'Plus Jakarta';
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

/* =========================
   GLOBAL RESET + BASE
========================= */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Plus Jakarta', sans-serif;
  color: #212529;
}

body {
  margin: 0;
  background-color: #FBF9F5;
}

/* Headings use display font */
h1, h2, h3, .company-name {
  font-family: 'Gallery Modern', sans-serif;
  line-height: 1.2;
}

/* Links */
a {
  text-decoration: none;
}

.site-nav a:hover,
li > a:hover {
  text-decoration: underline;
}

img {
  mix-blend-mode: multiply;   /* removes white backgrounds visually */
}

/* =========================
   MINIMAL READING LAYOUT
========================= */

main {
  max-width: 1080px;
  margin: 40px auto;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.5;
}

main img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5rem auto;
}

.grid {
  display:grid; 
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr)); 
  gap:1rem;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}

/* =========================
   HEADER
========================= */
.site-header {
  background: #EEE8DA;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
}

.logo img {
  height: clamp(1rem, 5vw, 2rem);
  width: auto;
  display: block;
}

.company-name {
  color: #CA141C;
  font-size: clamp(1rem, 5vw, 2rem);
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


/* =========================
   FOOTER
========================= */

footer .footer-left {
  width: 100%;
  background-color: #EEE8DA;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .footer-right {
  background-color: #F7F4ED;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .company-name {
  font-size: clamp(2rem, 5vw, 3rem);
}

footer .logo img {
  height: clamp(3rem, 5vw, 4rem);
  width: auto;
  display: block;
}

/* debug border */
/* div { border: 1px solid black;} */