<header class="site-header">
   <div class="container">
   <a href="/" class="logo">
       <div class="logo-img-wrapper">
         <img src="/images/timboel-logo.svg" alt="logo-timboel">
       </div>
       <span class="company-name">TIMBOEL</span>
   </a>
       <nav class="site-nav">
           <ul>
               <li><a href="/about/">Products</a></li>
               <li><a href="/products/">Collection</a></li>
               <li><a href="/services/">About</a></li>
               <li><a href="/services/">Blog</a></li>
               <li><a href="/services/">Contact</a></li>
           </ul>
       </nav>
       <details class="mobile-nav">
            <summary>Menu</summary>
                <ul>
                    <li><a href="/about/">Products</a></li>
                    <li><a href="/products/">Collection</a></li>
                    <li><a href="/services/">About</a></li>
                    <li><a href="/services/">Blog</a></li>
                    <li><a href="/services/">Contact</a></li>
                </ul>
       </details>
        <div class="utilities">
           <a href="/search" class="icon-button" aria-label="Search">Search</a>
       </div>
   </div>
</header>