{{/* layouts/home.html */}}
{{ define "main" }}
<main>


{{ $products := partial "valid-products.html" . }}

<section aria-label="Featured">
  <div class="grid">
    {{ range first 3 (shuffle $products) }}
       {{partial "product-card.html" .}}
    {{ end }}
  </div>

<div aria-label="Main Title">
  <h1 style="text-align:center;">A Masterpiece for <br><span style="color: #CA141C;">Every Space</span></h1>
  <p style="text-align:center;">
    Every space deserve a touch of exceptional beauty <br> We bring custom-crafted art that creates a unique atmosphere and elegance to every space.
  </p>
</div>

  </section>
  <hr>
  {{/* BEST SELLERS (placeholder: you can later filter by a param/weight/tag)*/}}
<section>
  <h2>Best sellers</h2>
  <div class="grid">
    {{ range first 4 ($products) }}
      {{partial "product-card.html" .}}
    {{ end }}
  </div>
<hr>
</section>

  {{/* NEW ITEMS */}}
  <section>
    <a href="{{ "products/"   | relURL }}"><h2>New items</h2></a>
  <div class="grid">
    {{ range first 4 (sort ($products) "Params.date_added" "desc") }}
      {{partial "product-card.html" .}}
    {{ end }}
  </div>
    <hr>
  {{/* ARTICLES */}}
  <section>
    <h2>Articles</h2>
    <div class="grid">
      {{ $articles := where site.RegularPages "Section" "articles" }}

      {{ range first 3 $articles }}
        {{partial "article-card.html" .}}
      {{ end }}
    </div>
  </section>

</main>
{{ end }}
