{{ define "main" }}
<h1 class="main-title">A Masterpiece for <br><span class="every-space">Every Space</span></h1>
<p style="text-align:center;">
  Every space deserve a touch of exceptional beauty <br> We bring custom-crafted art that creates a unique atmosphere and elegance to every space.
</p>
<section class="hero-featured">
  <div class="hero-layout">
    <div class="col1">
      <div class="col1-item">
        <img src="https://placehold.co/600x600?text=Featured" alt="hello">
      </div>
    </div>

    <div class="col2">
      <div class="col2-top"><img src="https://placehold.co/600x600?text=Featured" alt="hello"></div>
      <div class="col2-bottom"><img src="https://placehold.co/600x600?text=Featured" alt="hello"></div>
    </div>
    <div class="col3">
      <div class="col3-item"><img src="https://placehold.co/600x600?text=Featured" alt="hello"></div>
    </div>
  </div>
</section>

<section class="home-gallery">
<div class="container">
  <div class="gallery-description">
    <h1>Best Seller</h1> 
    <p>This top-rated sclupture brings effortless style and character to any space. Loved for its detail and design. </p>
    <div>testing</div>
  </div>
  <div class="bento-grid bento-scroll">
    <div class="bento-item item-wide overlay"><img src="https://placehold.co/600x600?text=Wide" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item item-tall overlay"><img src="https://placehold.co/600x600?text=Tall" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item text-card">  
        <h1>View More!</h1>
        <p>Short description goes here.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="collection-gallery">
<div class="container">
  <div class="gallery-description">
    <h1>Best Seller</h1> 
    <p>This top-rated sclupture brings effortless style and character to any space. Loved for its detail and design. </p>
  </div>
  <div class="bento-grid bento-scroll">
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item overlay"><img src="https://placehold.co/600x600?text=Featured" alt="">  
      <div class="bento-overlay">
        <h3 class="overlay-title">Title</h3>
        <p class="overlay-desc">Short description goes here.</p>
      </div>
    </div>
    <div class="bento-item text-card">  
        <h1>View More!</h1>
        <p>Short description goes here.</p>
      </div>
    </div>
  </div>
</div>
</section>


<section class="articles">
  <div class="container">
    <h1>Articles</h1>
    <p>Insights, Stories, and Inspiration behind the art</p>
  </div>
  <div class="article-list">
    <div class="article-date"><h1>12 Jan</h1> <p>2025</p></div>
    <div class="article-img"><img src="https://placehold.co/250x250?text=article_featured" alt=""></div> 
    <div class="articles-summary"><h3>Bring the breeze home: Coastal and Tropical outdoor statues</h3> <p>Aluminum statues have become a popular choice among artists and art collectors alike. In addition to being lightweight and durable, aluminum also offers a unique beauty that can enhance any space. However, to preserve both the appearance and longevity of aluminum sculptures</p></div>
  </div>
  <div class="article-list">
    <div class="article-date"><h1>12 Jan</h1> <p>2025</p></div>
    <div class="article-img"><img src="https://placehold.co/250x250?text=article_featured" alt=""></div> 
    <div class="articles-summary"><h3>Bring the breeze home: Coastal and Tropical outdoor statues</h3> <p>Aluminum statues have become a popular choice among artists and art collectors alike. In addition to being lightweight and durable, aluminum also offers a unique beauty that can enhance any space. However, to preserve both the appearance and longevity of aluminum sculptures</p></div>
  </div>
  <div class="article-list">
    <div class="article-date"><h1>12 Jan</h1> <p>2025</p></div>
    <div class="article-img"><img src="https://placehold.co/250x250?text=article_featured" alt=""></div> 
    <div class="articles-summary"><h3>Bring the breeze home: Coastal and Tropical outdoor statues</h3> <p>Aluminum statues have become a popular choice among artists and art collectors alike. In addition to being lightweight and durable, aluminum also offers a unique beauty that can enhance any space. However, to preserve both the appearance and longevity of aluminum sculptures</p></div>
  </div>

</section>
{{ end }}

