{{ define "main" }}
<main>

  <h1 style="text-align:center; padding:0 2rem;">{{ .Title }}</h1>

  {{ with .Content }}
    <div class="content">{{ . }}</div>
  {{ end }}

  {{ if .Pages }}
    <hr>

    <section class="grid">
      {{ range sort .Pages "Title" }}

        {{ if eq .Section "products" }}
          {{ partial "product-card.html" . }}
        {{ else }}
          {{ partial "article-card.html" . }}
        {{ end }}

      {{ end }}
    </section>

  {{ else }}

    <p>No content found. on taxonomy/collection page</p>

  {{ end }}

</main>
{{ end }}