{{/*  This is the tempalte where you see when you click the collections tab, each collection card is a 'folder' for the colleciton  */}}

{{ define "main" }}
<main class="collections">

  <h1 style="text-align:center; padding:0 2rem;"> {{ .Title }}</h1>

  {{ with .Content }}
    <div class="content">{{ . }}</div>
  {{ end }}
<hr>
  <section class="grid">
    {{ range .Data.Terms.Alphabetical }}

      {{ $p := .Page }}
      {{ $cover := "" }}

      {{/* Manual override from term bundle */}}
      {{ with $p.Params.main_image }}
        {{ $cover = . }}
      {{ end }}

      {{/* Fallback to first product in this collection */}}
      {{ if not $cover }}
        {{ $term := $p.Title }}
        {{ $pages := where site.RegularPages "Params.collections" "intersect" (slice $term) }}
        {{ $sorted := sort $pages "Weight" "Title" }}

        {{ with index $sorted 0 }}
          {{ $cover = or .Params.main_image .Params.featured_image .Params.thumbnail }}
        {{ end }}
      {{ end }}
      
      {{ partial "collection-card.html" (dict "page" $p "cover" $cover) }}

    {{ end }}
  </section>

</main>
{{ end }}