{{ define "main" }}

<main>

  {{ $hero := or .Params.featured_image .Params.main_image }}

  <section>

<pre>
<!-- {{ jsonify (dict "indent" "  ") .Params }}
<p>Taxonomy tags terms count: {{ len .Site.Taxonomies.tags }}</p>
{{ range $term, $pages := .Site.Taxonomies.tags }}
  <div>{{ $term }} ({{ len $pages }})</div>
{{ end }} -->

</pre>

    {{ if $hero }}
      <a href="{{ $hero }}">
      <img src="{{ $hero }}" alt="{{ .Title }}">
      </a>
    {{ end }}

    <h1>{{ .Title }}</h1>
    <div>single articles {{ .Content }}</div>

{{ $relatedProducts := partial "related-products.html" . }}

{{ if gt (len $relatedProducts) 0 }}
  <section aria-label="Related products">
    <h2>Related Products</h2>

    <div class="grid">
      {{ range first 8 $relatedProducts }}
        {{ partial "product-card.html" . }}
      {{ end }}
    </div>
  </section>
{{ end }}
  </section>
</main>

{{ end }}
\