{{ define "main" }}

<main>

  {{ $hero := or .Params.featured_image .Params.main_image }}
  {{ $detail := .Params.detail }}
  {{ $gallery := .Params.gallery}}

  <section>

    <h1>{{ .Title }}</h1>
    <div>{{ .Content }}</div>

    {{ if $hero }}
      <a href="{{ $hero }}">
      <img src="{{ $hero }}" alt="{{ .Title }}">
      </a>
    {{ end }}

  </section>

  <hr>
  <section>
    <div><strong>Dimensions:</strong> {{ .Params.panjang }} cm × {{ .Params.lebar }} cm × {{ .Params.tinggi }} cm</div>
    <div><strong>Weight:</strong> {{ .Params.weight }} Kg</div>
    <div><strong>CBM:</strong> {{ .Params.cbm }}</div>
  </section>

  {{ if $detail }}
  <hr>
  <h2>Closer Look</h2>
    <section class="grid">
      {{ range $detail }}
        <div>
            <a href="{{ . }}">
          <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
            </a>
        </div>
      {{ end }}
    </section>
  {{ end }}

  {{ if $gallery }}
  <hr>
  <h2>Closer Look</h2>
    <section class="grid">
      {{ range $gallery }}
        <div>
            <a href="{{ . }}">
          <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
            </a>
        </div>
      {{ end }}
    </section>
  {{ end }}

</main>

{{ end }}
